[flake8]
max-line-length = 90

extend-ignore =
    ANN002,
    # Missing type annotation for *args.
    ANN003,
    # Missing type annotation for **kwargs.
    ANN101,
    # Missing type annotation for self in method.
    ANN102,
    # Missing type annotation for cls in classmethod.
    ANN401,
    # Dynamically typed expressions (typing.Any) are disallowed.
    PLC114,
    # Missing module docstring.
    PLC115,
    # Missing class docstring.
    PLC116,
    # Missing function or method docstring.
    A003,
    # Class attribute is shadowing a python builtin.
    PLR903,
    # Too few public methods

extend-select =
    ANN401,
    # Dynamically typed expressions (typing.Any) are disallowed.
    ANN402,
    # Type comments are disallowed.

per-file-ignores =
    settings*.py:E402,F403,F405

exclude =
    .git,
    __pycache__,
    .tox,
    .eggs,
    *.egg,
    .venv,
    */alembic/versions
    */migrations
    */pytest_cache

