# Main
DEBUG=True

# Bot
BOT_TOKEN=token

ADMINS=[]

SKIP_UPDATES=True

TLS_DIR=

WEBHOOK=False
WEBHOOK_HOST=
WEBHOOK_PORT=
WEBHOOK_TLS_PRIVATE_KEY=
WEBHOOK_TLS_CERTIFICATE=

WEBAPP_HOST=
WEBAPP_PORT=

SUPPORT=support_url

# Logging
LOGLEVEL=DEBUG

LOG_FORMAT="%(levelname)s | %(name)s | %(asctime)s | %(lineno)s | <%(message)s>"
LOG_DATETIME_FORMAT="%Y-%m-%d %H:%M:%S"

LOGFILE_NAME=file.log
LOGFILE_SIZE=5242880
LOGFILE_COUNT=10

SENTRY=sentry_url

# DB
DB_DRIVER=postgresql+asyncpg

DB_NAME=

#DB_HOST=0.0.0.0
DB_HOST=postgres_container
DB_PORT=2000
DB_USER=youtube_notifier_bot
DB_PASS=CHANGE_MEE!!

ECHO_SQL=True

FORCE_INIT=True
